
/*borde para debug
* {
    border: 1px solid red;
}*/

html, body{
    padding: 0%;
    margin: 0%;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 70px;
}

/*titulo y banner*/
#title{
    background-image: url(../Images/Banner.jpg);
    height: 250px;

    
    text-align: center;

    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 65px;

    color: gold;
    -webkit-text-stroke: 2px black;
    /*outline para el titulo*/
}
/*titulo y banner*/

/*barra de navegacion*/
#navfather{
    display: flex;
    flex-direction: row;

    background-color: rgb(12, 39, 97);

    position: fixed;
    top: 0;
    width: 100%;
}
#navbar{
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

#navbar li{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    font-size: 25px;

    text-decoration: none;

    display: inline;
    margin: 10px;
    padding: 10px;
}

#navbar li:hover{
    color: yellow;
    font-size: 30px;
}

ul li{
    list-style-type: none;
    color: white;
}

a{
    text-decoration: none;
}
/*barra de navegacion*/

/*pie de pagina*/
footer{
    flex-direction: column;
    justify-content: center;

    background-color: rgb(12, 39, 97);
    color: lightgray;

    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}

span{
    color: lightblue;
    text-decoration: underline;
}
/*pie de pagina*/

h2{
    text-decoration: underline;
    text-decoration-color: rgb(0, 170, 227);

    font-size: 30px;
    margin-bottom: 0%;
    margin: 0 10px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: left;

    margin-left: 10px;
    margin-right: 10px;
}

#final_text{
    color: gold;
    -webkit-text-stroke: 2px black;
    
    font-size: 50px;
    text-align: center;

    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/*Imagenes*/
img{
    border: 1px solid black;
    border-radius: 5px;

    margin-right: 10px;
}

.floating_image_left{
    float: left;

    width: auto;
    height:250px;
}

.floating_image_right{
    float: right;

    width: auto;
    height:250px;
}
/*Imagenes*/

/*eliminar el float antes del footer*/
#clear{
    clear: both;
}
/*eliminar el float antes del footer*/