
/*borde para debug
* {
    border: 1px solid red;
}*/
/*titulo*/
#title{
    background-image: url(../Images/Banner.jpg);
    height: 250px;

    text-align: center;
    margin-top: 70px;

    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 3.5vw;

    color: gold;
    -webkit-text-stroke: 2px black;
    /*outline para el titulo*/
}
/*titulo*/

h2{
    text-decoration: underline;
    text-decoration-color: rgb(0, 170, 227);

    font-size: 30px;
    margin-bottom: 0%;
    margin: 0 10px;
}

h4{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-style: italic;

    margin-top: 0%;
    margin: 0 5px;
}

/* barra de navegacion*/
#navfather{
    display: flex;
    flex-direction: row;

    background-color: rgb(12, 39, 97);

    position: fixed;
    top: 0;
    width: 100%;
}
#navbar{
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

#navbar li{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    font-size: 25px;

    text-decoration: none;

    display: inline;
    margin: 10px;
    padding: 10px;
}

#navbar li:hover{
    color: yellow;
    font-size: 30px;
}
/* barra de navegacion*/

/*pie de pagina*/
footer{
    background-color: rgb(12, 39, 97);
    color: lightgray;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 50px;
}

#gitLink img{
    width: auto;
    height:70px;
    margin-right: 50px;
}

#contacto{
    flex-direction: column;
    justify-content: center;

    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}
/*pie de pagina*/

#navbar ul li{
    list-style-type: none;
    color: white;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: left;

    margin-bottom: 5px;
}

a{
    text-decoration: none;
}

html, body{
    padding: 0%;
    margin: 0%;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 70px;
}

span{
    color: lightblue;
    text-decoration: underline;
}

form{
    margin: 20px;
    width: 500px;
}

input{
    display: block;
    margin-bottom: 10px;
}

label{
    font-size: 20px;
    font-weight: bold;
}

#buttonFather{
    display: flex;
    justify-content: center;
}

button{
    font-size: 20px;
}

#charmOption{
    display: flex;
    flex-direction: row;
}

#registered{
    border: 2px solid black;
    width: 15%;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#registered th{
    background-color: darkblue;
    color: white;
    font-size: 23px;
    font-weight: bold;
}

#registered tr:nth-child(even){
    background-color: white;
}

#registered tr:nth-child(odd){
    background-color: lightgreen;
}

#registered td{
    font-style: italic;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;

    border: 1px solid black;
    text-align: center;
}

#registered button{
    font-size: 15px;
    font-weight: bold;
    
}

hr{
    width: 90%;
}

/*img{

}*/

legend{
    font-weight: bold;
    font-size: 30px;
}

#information li{
    color: black;
    font-size: 25px;
    font-weight: bold;
}

#Data{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#information{
    border: 1px solid black;
    padding-right: 20px;

    background-image: linear-gradient(white, lightblue);
}

#Data img{
    height: 250px;
    width: auto;

    border: 1px solid black;
}