
/*borde para debug
* {
    border: 1px solid red;
}*/

#title{
    background-image: url(../Images/Banner.jpg);
    height: 250px;

    text-align: center;
    margin-top: 70px;

    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 4.5vw;

    color: gold;
    -webkit-text-stroke: 2px black;
    /*outline para el titulo*/
}

h2{
    text-decoration: underline;
    text-decoration-color: rgb(0, 170, 227);

    font-size: 30px;
    margin-bottom: 0%;
    margin: 0 10px;
}

h4{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-style: italic;

    margin-top: 0%;
    margin: 0 5px;
}

#navfather{
    display: flex;
    flex-direction: row;

    background-color: rgb(12, 39, 97);

    position: fixed;
    top: 0;
    width: 100%;
}
#navbar{
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

#navbar li{
    font-size: 25px;
    text-decoration: none;

    display: inline;
    margin: 10px;
    padding: 10px;
}

#navbar li:hover{
    color: yellow;
    font-size: 30px;
}

#navbar a{
    text-decoration: none;
}

#navbar ul li{
    list-style-type: none;
    color: white;
}

footer{
    background-color: rgb(12, 39, 97);
    color: lightgray;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 50px;
}

#gitLink img{
    width: auto;
    height:70px;
    margin-right: 50px;
}

#contacto{
    flex-direction: column;
    justify-content: center;

    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: left;

    margin-left: 10px;
    margin-right: 10px;
}

html, body{
    padding: 0%;
    margin: 0%;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 70px;
}

span{
    color: lightblue;
    text-decoration: underline;
}

li{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;

    font-size: 22px;
}

#index{
    display: flex;
    justify-content: center;
    
}

#index li{
    font-size: 25px;
}

#index li:hover{
    font-size: 28px;
}

#index li::marker{
    color:red
}

#guide li::marker{
    color: darkorange;
}

#guide div{
    border: 1px solid black;
    border-radius: 5px;

    margin: 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    background-image: linear-gradient(white, lightblue);
}
